header{
    background-color: gold;
    font-size: 50;
    font-style: italic;
    font-display: 40px;

    
}
body{
    background-color: powderblue;
}

button{
   background-color: green;
    font-size: 20;
    font-style: italic;
    font-display: 10px;
    margin: 10px;
    padding: 5px;
    border-radius: 10px;
    border: solid 1px green

}
.selected{
    background-color: sandybrown;
    color: seashell;
}
#comments {
    width: 80%;
    border: solid 1px gray;
}

.comment {
    border: solid 1px gray;
    margin: 15px;
    padding: 15px;
}

.error {
    color:red;
}